<html>
    <head>
        <link rel=stylesheet type=text/css href="{{url_for('static', filename='app.css')}}">
    </head>
    <body>
        <h1>Add a new item in {{clothing_group.name}}</h1>
        <form action="{{url_for('addNewItem', clothing_group_id=clothing_group.id)}}", method="POST">
            <div class="inputDisplay">
                <div>
                    <label>Name:       </label><input type="text" size="30" name="name" >
                </div>
                <div>
                    <label>Description:</label> <input type="text" size="300" name="description" >
                </div>
                <div>
                    <label>Price:      </label> <input type="text" size="10" name="price" >
                </div>
                <div>
                    <label>Color:      </label> <input type="text" size="10" name="color" >
                <div>
                    <label>Size:       </label> <input type="text" size="10" name="size" >
                </div>
                <div>
                    <label>Picture:       </label> <input type="text" size="10" name="picture" >
                </div>
                <div>
                    <input type="submit" value="Add Item">
                </div>
            </div>
        </form>
        <a href="{{url_for('renderItemGroupList', clothing_group_id = clothing_group.id)}}">Go Back</a>
    </body>
</html>