<html>
    <head>
        <link rel=stylesheet type=text/css href="{{url_for('static', filename='app.css')}}">
    </head>
    <body>
        <h1>Add a new item in {{clothing_group.name}}</h1>
        <form action="{{url_for('addNewItem', clothing_group_id = clothing_group.id) }}" method='POST'>

            <p>Name:</p>

            <input type="text" size='30' name='name'>

            <p>Description:</p>

            <input type="text" size='30' name='description'>

            <p>Price:</p>

            <input type="number" size='30' name='price'>

            <p>Size:</p>

            <input type="text" size='30' name='size'>

            <p>Color:</p>

            <input type="text" size="30" name="color">

            <input type='submit' value='Create'>
        </form>
        <a href="{{url_for('renderItemGroupList', clothing_group_id = clothing_group.id)}}">Go Back</a>
    </body>
</html>