<html>
    <head>
        <link rel=stylesheet type=text/css href="{{url_for('static', filename='app.css')}}">
    </head>

    <body>
        <div class="navArea">
            <a class="logButton" href="{{url_for('renderItemGroups')}}">Back</a>
            <a class="logButton" href="{{url_for('gdisconnect')}}">Logout</a>
        </div>
        <h3>A list of the items in the group</h3>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="itemPreviewDisplay">
            {% for i in items%}
            <div class="itemPreviewCard">
                <img src="{{i.picture}}" height="150" width="150">
                <p>{{i.name}}</p>
                <p>see more <a href="{{url_for('renderSingleItem', item_id=i.id)}}">here</a></p>
            </div>
            {% endfor %}
        </div>
        <a href="{{url_for('addNewItem', clothing_group_id = item_group.id)}}">Make new item.</a>
    </body>
</html>