<html>
    <head>
        <link rel=stylesheet type=text/css href="{{url_for('static', filename='app.css')}}">
    </head>
    <body>
        <div class="navArea">
            <a class="logButton" href="{{url_for('renderItemGroupList', clothing_group_id = item.item_group_id)}}">Back</a>
            <a class="logButton" href="{{url_for('gdisconnect')}}">Logout</a>
        </div>
        <div class="mainItemDisplay">
            <div class="itemMainCard">
                <img src="{{item.picture}}" height="400" width="400">
                <h1>{{item.name}}</h1>
                <div class="itemMainDetailsDisplay">
                    <div class="itemMainDetails">
                        <h4>{{item.description}}</h4>
                        <h4>{{item.price}}</h4>
                        {% if item.size %}
                            <h4>{{item.size}}</h4>
                        {% endif %}
                        {% if item.color %}
                            <h4>{{item.color}}</h4>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <a href="{{url_for('editItem', item_id = item.id)}}">Edit Item</a>
        <a href="{{url_for('deleteItem', item_id = item.id)}}">Delete Item</a>
    </body>
</html>